body 
{
    background-color:#e8e8e8;
    margin:0px;
    padding:0px;
    font-family:Arial, Sans-Serif;
    font-size:9pt;
}

ul, li
{
    padding:0px;
    margin:0px; 
}

a
{
    color:White;
    text-decoration:none;
}

a:hover
{
    color:Red;
}

.barra_contenedor
{
    background-color:#323131;
    overflow:hidden;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
}

.menu_opciones
{
    background-color:#323131;
    overflow:hidden;
    width:100%;
}

.barra_menuCel, .Copyright
{
    float:left;
    padding-left:15px;
}

.Copyright
{
    padding-top:5px;
}

.barra_usuario, .Pie
{
    float:right;
    padding-right:15px;
}

.sesion, .Lista_Menu_Principal, .Lista_Pie
{
    display:inline-block;
}

.Lista_Menu_Principal
{
    margin-right:auto;
    margin-left:auto;
}

.Lista_Menu_Principal li, .Lista_Pie li
{
    float:left;
    list-style:none;
    color:White;
    padding:5px 10px 5px 10px;
}

.sesion li
{
    float:left;
    list-style:none;
    color:White;
    padding:5px 10px 5px 10px;
}

.Banner
{
    width:100%;
    height:125px;
    margin-left:auto;
    margin-right:auto;
    background-color:#202020;
    background-image:url(http://localhost:49499/Images/Slider.jpg);
    background-repeat:no-repeat;
    background-position:center;
}

.Contenido
{
    width:773px;
    margin-left:auto;
    margin-right:auto;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#414040;
    text-align:center;
}

.barra_Footer
{
    width:100%;
    padding-top:10px;
    padding-bottom:5px;
    background-color:#414040;
    overflow:hidden;
    color:White;
    bottom:0px;
    position:absolute;
}


.ContenedorInfo
{
    background-color:White;
    padding:20px;
    border:solid 1px gray;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    width:733px;
}

input{ background: #FF0}