body 
{
    width:1000px;
    margin: 0 auto;
}

div#main
{
    background: #ff0;
}

div#sidebar
{
   
    background: #F00;    
}

div#content
{
    background: #CC9;    
}

div#footer
{
    background: #c9c9c9;
}
