<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    <link href="../../Css/StyleSheet1.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--ZONA BANNER-->
<div class="barra_contenedor">
    <div class="barra_menuCel">
        <select id="Select1">
            <option>Seleccione numero</option>
            <option>12</option>
            <option>17</option>
        </select>
    </div>
    <div class="barra_usuario">
        <ul class="sesion">
            <li>Alejandra Jorquera</li>
            <li>icono_us</li>
            <li><a href="*">cerrar sesion</a></li>
        </ul>
    </div>
</div>
<div class="Banner">
    
</div>
<!------------------------------->
<!------------------------------->
<div class="menu_opciones">
    <div class="Contenido">
        <ul class="Lista_Menu_Principal">
            <li > <a href="bot_1">Inicio</a></li>
            <li > <a href="bot_2"></a>Consultar Numero</li>
            <li > <a href="bot_3"></a>Recarga</li>
            <li > <a href="bot_1"></a>Cambio Plan</li>
            <li > <a href="bot_1"></a>Datos Personales</li>
            <li > <a href="bot_1"></a>Datos Celular</li>
            <li > <a href="bot_1"></a>Historial</li>
        </ul>
    </div>

</div>
<div class="ContenedorInfo">

<asp:ContentPlaceHolder ID="MainContent" runat="server" />


</div>


<!--ZONA PIE-->
<div class="barra_Footer">
    <div class="Copyright">Todos los Derechos Reservados, Santiago 2013</div>
    <div class="Pie">
        <ul class="Lista_Pie">
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Menu Usuario</a></li>
        </ul>
    </div>
</div>
<!------------------------------->
<!------------------------------->
</body >

</html>
